  <section class="relative overflow-hidden mb-2">
    <video [autoplay]="true" [muted]="true" [loop]="true" class="w-full h-full object-cover absolute">
      <source src="assets/video/hero.webm" type="video/webm">
    </video>
    <div class="bg-gradient absolute w-full h-full z-20 opacity-60"></div>

    <div class="w-full h-full absolute z-20">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>

    <div class="container mx-auto relative z-30">
      <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
        <h3 class="text-7xl font-bold uppercase mb-2">AMPLIFY YOUR GAMING LEGACY!</h3>
        <p>
          GamersVault: Your Go-To Hub for Gaming Glory.
          Explore, store, and share gaming clips with a community of gaming enthusiasts.
          Showcasing your epic gaming moments has never been this easy. Start building your gaming legacy today!
        </p>
      </div>
    </div>
  </section>

  <!-- Main Content -->
  <section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Latest</h1>

    <!-- Clips List -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
      <ng-template ngFor let-item [ngForOf]="clips" let-i="index">
        <app-clip
          [clipHeading]="clips[i].clipHeading"
          [clipName]="clips[i].clipName"
          [clipImage]="clips[i].clipImage"
          [clipDate]="clips[i].clipDate"
          class="flex items-center justify-center"></app-clip>
      </ng-template>
    </div>
  </section>
