  <!-- Header -->
  <header id="header" class="bg-primary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/home">GamersVault</a>

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li>
            <a class="px-2" routerLink="/my-clips">My Clips</a>
          </li>
          <li>
            <a class="px-2" routerLink="/upload">Upload</a>
          </li>
          <li>
            <a class="px-2" href="about.html">About</a>
          </li>
        </ul>
        <!-- Language Switcher -->

        <ul class="flex flex-row ml-auto">
          <li>
              <ng-container *ngIf="_authService.isAuthenticated$ | async; else loggedOut">
                <button (click)="_authService.logout({ logoutParams: { returnTo: 'http://localhost:4200/' } })">
                  Log out
                </button>
              </ng-container>

              <ng-template #loggedOut>
                <button (click)="_authService.loginWithRedirect()">Log in</button>
              </ng-template>
          </li>
        </ul>
      </div>
    </nav>
  </header>
